 <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </head>
<body>
    <div class = "container">
        <div class="row mt-5">
            <h1>문의하기</h1>
        </div>

        <div class="col-12">
            <br><br>
<form method="POST" action="/contact">
                <div class="form-group">
                    <label for="userid">아이디</label>
                    <input type="text" class="form-control" id="userid" placeholder="아이디" name="userid"/>
                </div>
                <div class="form-group">
                    <label for="context">문의내용</label>
                    <input type="context" class="form-control" id="context" placeholder="문의내용" name="context"/>
                </div>
    <button type="button" class="btn btn-primary" onclick="location.href='/main_page'">이전</button>
    <button type="submit" class="btn btn-primary">제출</button>

</form>

            {%with messages = get_flashed_messages()%}
                {%if messages %}
                    <script type="text/javascript">
                        alert("{{messages[0]}}");
                    </script>
                {%endif%}
            {%endwith%}
</body>
</html>