<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    </head>
    <body>
    <header>
        <div class="nav">
            <h1>flask debugger pin</h1>
            <nav>
                <ul class="menu">
                    <li><a href="flask-dev.html">Home</a></li>
                    <li><a href="http://ctf.kuality.kr">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <h2>
        Hello!!!<br>
        this is python version 3.8.11<br>
        flag is in /flag<br>
    </h2>
    </body>
</html>